body {
    background-image: url("https://res.cloudinary.com/dyfo5owv8/image/upload/v1630262836/lab2DAWA/zakaria-ahada-VGR_ReUCqNw-unsplash_jxuk4q.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}